html, body {
    background-color: rgb(231, 206, 210);
}

h1 {
    color: purple;
}

.lists {
    border: 5px double black;
    height: 100%;
    width: auto;
    background-color: #f5f5f5;
    margin: 5%;
    padding: 5%;
}

#firstList {
    color: #add8e6;
}

#secondList {
    color: rgb(64, 224, 208);
}

